<!DOCTYPE html>
<html>
<head>
  <title>Flash Cards</title>
  <!-- We've provided some styles for you, aren't we nice? -->
  <link rel="stylesheet" type="text/css" href="css/reset.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body ng-app="flashCards" >
  
  <div ng-controller="MainController"> 
    <button ng-class="{'category-button': true, 'active': category === selectedCategory}" ng-repeat="category in categories" ng-click="getCategoryCards(category)">{{ category }}</button>
  <loader ng-show="showLoadingIcon"> </loader>

  <flash-card card="flashCard" ng-repeat="flashCard in flashCards | orderBy : 'question'"></flash-card>
  </div>

  <div ng-controller="StatsController" id="statistics" ng-include="'templates/scoreboard.html'">

  </div>

<script src="js/lib/angular.js"></script>
<script src="app.js"></script>
<script src="js/controllers/MainController.js"></script>
<script src="js/controllers/StatsController.js"></script>
<script src="js/controllers/FlashCardController.js"></script>
<script src="js/factories/FlashCardsFactory.js"></script>
<script src="js/factories/ScoreFactory.js"></script>
<script src="js/directives/loader/loader.js"></script>
<script src="js/directives/flash-card/flash-card.js"></script>
<script src="js/directives/border-on-hover/border-on-hover.js"></script>


</body>
</html>